#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

h1, h2 {
  color: #ececec;
}
h2 {
  margin-top: 0;
}
p {
  color: #3c3c3c;
}

.hero-section {
  background: url(./assets/hero.png) no-repeat;
  background-size: cover;
  background-position: right top;
}

.description-section {
  background: #eee4dd;
}

.contact-section {
  background: #745e5e;
}